.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.img-flut{
    float: left;
    border: transparent thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0;
    max-width: 200px;
}

.card-link{
    text-decoration: none;
    color: #57007B;
}

.bg-gray{
    background-color: #EAECEE;
}

span[aria-label="Previous"],span[aria-label="Next"]{
    font-size: 3rem !important;
}

.owl-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

button[role="presentation"]{
    width: 40px;
}